@model EnsekWebApi.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Edit Manufacturer";
}
<div class="jumbotron">
    <h1>Welcome to the Ensek WebApi Application</h1>
    <p class="lead">Please click the Upload button to upload Meter Readings.</p>
    <input type="button" class="btn-upload" value="Upload Meter Readings" />
    <p id="#result"></p>
</div>

@section scripts{
    <script>
        $(".btn-upload").click(function () {
            $.post("/meter-reading-uploads", $(".btn-upload").serialize())
                //this will serialize your form into:
                // newQuote=someValue&&someOtherVariable=someOtherValue etc.
                .done(function (data) {
                    alert(data);
                });
        });
    </script>
}