@model EnsekWebApi.ViewModels.MeterViewModel
@{
    ViewData["Title"] = "All Meter Readings";
}


<h1>These are all the Meter Readings</h1>
<table class="table">
    <tr><th scope="col">ID</th><th scope="col">Meter</th><th></th></tr>
    @foreach (var meter in Model.MeterReadings.ToList())
    {
        <tr><th scope="row">@meter.Account</th><td>@meter.MeterReadingDateTime</td><td>@meter.MeterReadingDateTime</td><td>@meter.MeterReadValue</td></tr>
    }
</table>